<div class="div-tag">
    <div><h4> If you don't like to read, you haven't found the right book. 
        <br>Find a book to read from our collections
        </h4>
        <span *ngIf ="flag">
          Welcome {{name}}
        </span>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4" >
        <div *ngFor="let book of books">
        <div class="colo">
            <div class="card h-100">
              <img src="{{book.bookImageUrl}}" class="card-img-top" alt="..." id="img">
              <div class="card-body">
                <h5 class="card-title">{{book.bookId}}<br>{{book.bookName}}</h5>
                <p class="card-text">
                   Author: {{book.author}}<br>
                    Genre:{{book.bookGenre}}<br>
                    Price: {{book.bookPrice}}<br>
                    Rating:{{book.bookRating}}<br>
                </p>
                            
              </div>
              <div *ngIf="adminFlag">
                <input type="button" value="Update" (click)="updateBtn(book.bookId)"><br>
                <input type="button" value="Delete" (click)="deleteBook(book.bookId)"><br>
                </div>
            </div>
          </div>
        </div>
    </div>
    <br>
    <div class = "add">
      <input type="button" value="Click Here to Add Book" (click)="addBookBtn()">
    </div> 
    <br>
    <div *ngIf ="updateFlag" class ="update">
      <label>Update Book {{bookId}} :</label>
      <input type="button" value="Update Book Name" (click)="updateBookNameBtn()">
      <input type="button" value="Update Price" (click)="updatePriceBtn()">
      <input type="button" value="Update Rating" (click)="updateRatingBtn()">
      <input type="button" value="update Genre" (click)="updateGenreBtn()">
    
    </div>
    <br>
    <div>
      <form>

      </form>
    </div>

    <div>
      <form>
        
      </form>
    </div>

    <div>
      <form>
        
      </form>
    </div>

    <div>
      <form>
        
      </form>
    </div>
  
   
</div>
