<form>
    <div id="form">
       <div class="container">
          <div class="content-form">
             <div class="form-setter">
                <div id="login">
                   <div class="lable">Register</div>>
                   <div class="row form-controler">
                      <div class="col"><input type="text" placeholder="First Name" name="firstname" [(ngModel)]='user.firstname' required></div>
                      <div class="col"><input type="text" placeholder="Last Name" name="lastname" [(ngModel)]='user.lastname'></div>
                   </div>
                <div class="container-fluid form-controlers">
                   <input type="email" placeholder="Email Id" name='email' [(ngModel)]='user.email' required>
                   <input type="text" placeholder="Phone" name="phone" [(ngModel)]='user.phone' required>
                   <input type="password" placeholder="Password" name='password' [(ngModel)]='user.password' required>
                   <input type="password" placeholder="Confirm Password" name="confirm_password" [(ngModel)]='user.confirm_password' required>
                   <button id="submit" (click)='register()'>Register</button>
                </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </form>