

<div align="center">
    <h3>
        List Of Users:
    </h3>
    <table class ="table table-striped">
        <tr>
            <th>Email Id</th>
            <th>Name </th>
            <th>Password</th>
            <th>Update </th>
            <th>Delete </th>
        </tr>
        <tr *ngFor="let user of usersList">
           
            <td>{{user.emailId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.userPassword}}</td>
            <td>
                <input type="button" value="Update" (click)="updateUser()"/>
            </td>
            <td>
                <input type="button" value="Delete" (click)="deleteUser()"/>
            </td>

        </tr>
    </table>
</div>